<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>
    <body>
        {% include "header.liquid" %}
        <div class="content">
          {{ page.content }}
        </div>
    </body>
</html>
